/* https://github.com/Infocatcher/UserStyles/tree/master/Compact_downloads */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url("chrome://browser/content/browser.xul"),
	url("chrome://browser/content/places/places.xul"),
	url("about:downloads"),
	url("chrome://browser/content/downloads/contentAreaDownloadsView.xul") {
	#downloadsListBox {
		padding: 4px !important;
	}
	#downloadsPanel-multiView[downloadPanelTweaker_newList] #downloadsListBox {
		padding: 0 !important;
	}
	#downloadsSummary,
	richlistitem[type="download"],
	#downloadsRichListBox > richlistitem.download {
		height: auto !important;
	}
	#downloadsRichListBox > richlistitem.download {
		padding: 1px !important;
	}
	#downloadsSummary {
		padding: 2px 35px 2px 8px !important;
	}
	richlistitem[type="download"] {
		padding: 2px !important;
	}
	#downloadsPanel-multiView[downloadPanelTweaker_newList] richlistitem[type="download"] {
		padding: 0 !important;
	}
	#downloadsHistory > .button-box {
		margin: 0.5em 0.8em !important;
	}
	#downloadsSummaryDescription,
	.downloadTarget,
	.downloadDisplayName {
		margin: 1px 6px !important;
		-moz-margin-end: 5px !important;
	}
	.downloadDetails {
		margin: -1px 6px 1px !important;
		-moz-margin-end: 5px !important;
	}
	.download .downloadDetails {
		margin-bottom: 3px !important;
	}
	.downloadTypeIcon {
		margin: 1px !important;
	}
	.download > .downloadTypeIcon {
		margin: 3px !important;
		-moz-margin-start: 5px !important;
		-moz-margin-end: 1px !important;
	}
	.downloadMainArea {
		padding: 3px 4px !important;
	}
	.downloadButton {
		margin: 2px !important;
		padding: 5px 3px !important;
	}
	#downloadsPanel-multiView[downloadPanelTweaker_newList] .downloadButton {
		min-width: 32px !important;
	}
	.downloadsPanelFooterButton {
		min-height: 32px !important;
		padding: 0 10.5px !important;
	}
	.downloadProgress {
		margin: 1px 4px !important;
	}
	#downloadsSummaryDetails[value=""][tooltiptext=""] {
		height: 0 !important;
	}
	/* about:downloads page */
	#contentAreaDownloadsView {
		padding: 0 !important;
	}
	#contentAreaDownloadsView #downloadsRichListBox > scrollbox {
		padding: 2px !important;
	}
}