/* https://github.com/Infocatcher/UserStyles/tree/master/Compact_downloads */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url("chrome://browser/content/browser.xul"),
	url("chrome://browser/content/places/places.xul"),
	url("about:downloads"),
	url("chrome://browser/content/downloads/contentAreaDownloadsView.xul") {
	#downloadsListBox {
		padding: 3px !important;
	}
	#downloadsPanel-multiView[downloadPanelTweaker_newList] #downloadsListBox {
		padding: 0 !important;
	}
	#downloadsSummary,
	richlistitem[type="download"],
	#downloadsRichListBox > richlistitem.download {
		height: auto !important;
	}
	#downloadsRichListBox > richlistitem.download {
		padding: 1px !important;
	}
	#downloadsSummary {
		padding: 1px 23px 1px 3px !important;
	}
	richlistitem[type="download"] {
		padding: 0 !important;
	}
	#downloadsHistory > .button-box {
		margin: 0.14em 0.4em !important;
	}
	#downloadsSummaryDescription,
	.downloadTarget {
		margin: 0 3px !important;
	}
	.downloadDetails {
		margin: -1px 3px 0 !important;
	}
	.download .downloadDetails {
		margin-bottom: 2px !important;
	}
	.downloadTypeIcon {
		margin: 0 1px !important;
	}
	.download > .downloadTypeIcon {
		margin: 1px !important;
		-moz-margin-start: 3px !important;
	}
	.downloadMainArea {
		padding: 1px !important;
	}
	.downloadButton {
		margin: 0 !important;
		padding: 5px 1px !important;
	}
	#downloadsPanel-multiView[downloadPanelTweaker_newList] .downloadButton {
		min-width: 32px !important;
	}
	.downloadsPanelFooterButton {
		min-height: 26px !important;
		padding: 0 8px !important;
	}
	.downloadProgress {
		margin: 1px 3px !important;
	}
	#downloadsSummaryDetails[value=""][tooltiptext=""] {
		height: 0 !important;
	}
	/* about:downloads page */
	#contentAreaDownloadsView {
		padding: 0 !important;
	}
	#contentAreaDownloadsView #downloadsRichListBox > scrollbox {
		padding: 1px !important;
	}
}